.album-container {
  position: relative;
  width: 400px;
  height: 450px; 
  overflow: hidden;
  border-radius: 15px;
}

.album-image {
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  object-fit: cover;
  height:450px;
  margin: 3px;
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
