.basket-item{
    width: 100%;
    height: 360px;
    background-color: #00000050;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    padding:5px;
}
.basket-item img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.item-information{
    width: 100%;
    color:white;
    font-weight: 600;
    padding:10px;
}
.item-info{
    width:250px;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}
.basket-item button{
    width: 80%;
    height: 40px;
    border:none;
    box-shadow: 0 0 20px #222;
    color:white;
    background-color:#624728;
    transition: 0.25s;
}
.basket-item button:hover{
    background-color: #222;
}
